body {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input {
    width: 100%;
}

.resultado {
    background-color: aqua;
}

.resultado p {
    display: flex;
    align-items: center;
    justify-content: center;
}